<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--Copyright reversed by SS.SYSU-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Buy Your Way to a Better Education!</title>
		<link href="{{ static_url("buyagrade.css") }}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		<h1>Buy Your Way to a Better Education!</h1>

		<p>
			The rough economy, along with recent changes in University of Washington policy, now allow us to offer grades for money.  That's right!  All you need to get a 4.0 in this course is cold, hard, cash.
		</p>

		<hr />

		<h2>Give us your money</h2>
		<form method="post">
			<dl>
				<dt>Name</dt>
				<dd>
					<input type="text" name="name" />
				</dd>

				<dt>Section</dt>
				<dd>
					<select name="section">
						<option value="default" disabled selected>
							(Select a section)
						</option>
						<option value="MA">
							MA
						</option>
						<option value="MB">
							MB
						</option>
						<option value="MC">
							MC
						</option>
						<option value="MD">
							MD
						</option>
						<option value="ME">
							ME
						</option>
						<option value="MF">
							MF
						</option>
					</select>
				</dd>

				<dt>Credit Card</dt>
				<dd>
					<input type="text" name="card">
					<br />
					<label>
						<input type="radio" name="card_type" value="visa"/>
							Visa
					</label>
					<label>
						<input type="radio" name="card_type" value="mastercard"/>
							MasterCard
					</label>
				</dd>
				<dt>
					<br />
					<input type="submit" value="I am a giant sucker."/>
				</dt>
			</dl>
		</form>
	</body>
</html>
