body{
	background-image:url("images/background.png");
	font-size: 8pt;
	font-family: Verdana, Tahoma;
	padding:0pt;
	margin:0pt;
}

#headpic img{
	height: 100%;
	width: 100%;
}

h1{
	text-align: center;
	font-size: 24pt;
	font-weight:bold;
	font-family:Tahoma, Verdana;
}

.main{
	border:4pt gray solid;
	padding:0pt;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

#mainright{
	float:right;
	width:250px;
	margin:0pt;
	background-color: #A2B964;
}

#headhead{
	background-image: url("images/rottenbackground.png");
	background-repeat: repeat-x;
	height: 83pt;
	margin:0pt;
	padding:0pt;
}

#headhead img{
	height:83px;
}

.titlebignum{
	font-size:48pt;
	font-weight:bold;
	color:red;
	vertical-align: 15%;
}

.titlesmallnum{
	color:white;
	font-size: 8pt;
	vertical-align: 70%;
}

#mainleft{
	width: 550px;
	margin:0pt;
}
.coment{
	border:gray 2px solid;
	background-color: #E1D697;
	font-weight: bold;
	font-family: Arial;
	font-size: 8pt;
	width: 180pt;
	padding:8px;
}
.left{
	margin-bottom: 3em;
}
.right{
	margin-bottom: 3em;
}

.l{
	float:left;
	margin-left: 8px;
}
.r{
	margin-right: 8pt;
	float:right;
	overflow: hidden;
}

#mainleft img{
	float:left;
	padding-right: 5px;
}


#end{
	clear:right;
	background-color: #A2B964;
	text-align: center;
	margin:0pt;
	padding:5px;
}

dl{
	padding-left: 10px;
	padding-right:10px;
	font-family: Arial;
}

dt{
	font-weight: bold;
}

dd{
	padding-bottom: 1em;
}

.sourse{
	font-style: italic;
}

.w3c{
	position: fixed;
	right:0%;
	bottom: 0%;
}