<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>naruto</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="shortcut icon" href="../static/images/header-icon1.png">
</head>
<body>
    <div id="main" class="container">
      <div>
        <h1>Log In</h1>
        <form method="post" action="/login">
            <div class="form-group">
                <label for="name" class="required">User: </label>
                <input type="text" class="form-control" name="name" id="name" placeholder="input your name">
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" placeholder="input your password">
            </div>
                <button type="submit" id="submit">Login</button>
            </div>
        </form>
      </div>
    </div>
</body>
</html>