<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>naruto</title>
    <link rel="stylesheet" href="../static/css/write.css">
    <link rel="shortcut icon" href="../static/images/header-icon1.png">
</head>
<body>
    <div id="main" class="container">
      <div>
        <form method="post" action="/write">
            <h2>Tittle</h2>
            <input type="text" id="title" name="title" class="titles">
            <h3>Little title</h3>
            <input type="text" id="little-title" name="ltitle" class="titles">
            <br> <br>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </div>
                <button type="submit" id="submit">submit</button>
            </div>
        </form>
      </div>
    </div>
</body>
</html>